
<div class="container-fluid">
  <img class="imgfdbkheader" src="../../assets/header-questioners.png" alt="Customer Banner" title="Customer satisfaction survey ">
<div class="container">
<div class="body-background-color">
    <mat-toolbar class="fdbkheader">
        <!-- Image to the left of the toolbar -->
        <a class="mat-icon-image"><img src="../../assets/logo.svg" alt="Logo" title="Logo"/></a>
        <span class="toolbar-text">
          <h1>{{projectName}}</h1>
        </span>
    </mat-toolbar>
    <div class="form-body">
      <h2 class="h2">Customer satisfaction survey (5/9)</h2>
      <mat-label class="ftnl">Please provide ratings for the following</mat-label>

      <div class="div-your-element">
        <mat-label>1. Responsiveness and communication through project?</mat-label>
      <ul class="emoji">
        <li>
          <object type="image/svg+xml" data="../../assets/very_satisfied-selected.svg" width="48" height="48">
           &nbump;</object>
          </li>
          <li>
          <object type="image/svg+xml" data="../../assets/satisfied-default.svg" width="48" height="48">
           &nbump;</object>
          </li>
          <li>
          <object type="image/svg+xml" data="../../assets/neutral-default.svg" width="48" height="48">
           &nbump;</object>
          </li>
          <li>
          <object type="image/svg+xml" data="../../assets/dissatisfied-default.svg" width="48" height="48">
           &nbump;</object>
          </li>
          <li>
            <object type="image/svg+xml" data="../../assets/very_dissatisfied-default.svg" width="48" height="48">
             &nbump;</object>
            </li>

          </ul>
        <input type="text" class="text-your-element" maxlength="250" placeholder="Feel free to share any extra thoughts or suggestions you have.">
      </div>












    <footer>
      <div class="fixed-bottom">Powered by Evoke Technologies</div>
    </footer>
</div>
</div>
</div>

</div>
