.feedback-container {
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 10px;
}

.emoji-selection {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.emoji-option {
  cursor: pointer;
  margin: 0 10px;
  padding: 10px;
  border-radius: 50%;
  transition: transform 0.2s, background-color 0.2s;
}

.emoji-option svg {
  width:40px;
  height:40px;
  fill: #343a40;
}

.emoji-option.selected {
  // border: 2px solid #007bff;
  // background-color: #e9ecef;
  transform: scale(1.1);
}

.emoji-option:hover {
  background-color: #e2e6ea;
}
