
  <div class="container-fluid" style="width:85% !important;">
    <div class="row d-flex justify-content-center pt-4">
      <div class="col-md-12 bg-light m-3 rounded-1 p-0 w-75 shadow-lg align-items-center">
        <div class="d-flex justify-content-between align-items-center px-3 py-2 rounded-top-1 heading" style="background-color: #1b154c;">
          <h3 class="fs-5 mt-1" style="color: #fff;">Reset Password</h3>
        </div>
        <form id="form">
          <div class="row d-flex justify-content-center align-items-top">
            <div class="col-md-4">
              <div class="m-4">
                <label class="form-label fs-6">Old Password<span style="color: red;">*</span></label>
                <input type="password" class="textinput form-control" style="width: 100% !important;" (keyup)="ValidateOldPassword()" (keypress)="ValidateOldPassword()" [(ngModel)]="txtOldPassword" [ngModelOptions]="{ standalone: true }" maxlength="250" >
                <label *ngIf="!isOldPasswordValid" style="color: red;">{{lblOldPasswordMessage}}</label>
            </div>
            </div>
          </div>
          <div class="row d-flex justify-content-center align-items-top" style="margin-top: -35px !important;">
            <div class="col-md-4">
              <div class="m-4">
                <label class="form-label fs-6">New Password<span style="color: red;">*</span></label>
                <input type="password" class="textinput form-control" style="width: 100% !important;" (keyup)="ValidateNewPassword()" (keypress)="ValidateNewPassword()" [(ngModel)]="txtNewPassword" [ngModelOptions]="{ standalone: true }" maxlength="250" >
                <label *ngIf="!isNewPassowrdValid" style="color: red;">{{lblNewPasswordMessage}}</label>
            </div>
            </div>
          </div>
          <div class="row d-flex justify-content-center align-items-top" style="margin-top: -35px !important;">
            <div class="col-md-4">
              <div class="m-4">
                <label class="form-label fs-6">Confirm Password<span style="color: red;">*</span></label>
                <input type="password" class="textinput form-control" style="width: 100% !important;" (keyup)="ValidateConformPassword()"  (keypress)="ValidateConformPassword()" [(ngModel)]="txtConformPAssword" [ngModelOptions]="{ standalone: true }" maxlength="250" >
                <label *ngIf="!isConformPasswordValid" style="color: red;">{{lblComformPasswordMessage}}</label>
              </div>
            </div>
          </div>
            <div class="row justify-content-center" style="margin-top: -30px !important">
              <div class="col-md-4">
                <div class="m-4">
              <button [disabled]="isValid" type="button" class="btn btn-info text-white px-md-4 rounded-1 send-button" (click)="ResetPassword()" style="font-family: Roboto;width: 100% !important;">Reset Password</button>
            </div>
          </div>
        </div>
        </form>
      </div>
    </div>
  </div>
