<div class="container-fluid">
  <div class="fixed-top">
    <img class="imgfdbkheader" src="../../assets/header-onboarding.png" alt="on boarding" title="boarding">

    <div class="container">
    <mat-toolbar class="fdbkheader">
      <!-- Image to the left of the toolbar -->
      <a class="mat-icon-image"><img src="../../assets/logo.svg" alt="Logo" title="Logo"/></a>
      <span class="toolbar-text">
        <h1>{{projectName}}</h1>
      </span>
  </mat-toolbar>
  <div class="items-center">
  <h4 class="h4">Share your feedback on the services we have provided !</h4>
  <img class="image-element" src="../../assets/intro_graphics.svg" alt="Graphics">
</div>
</div>
<div class="body-background-color">
  <div class="flex-center text-center">
      <p class="mat-label-generic-body">We would greatly appreciate it if you could take a few minutes to share your feedback on the services we have provided. Your insights will help us understand what we are doing well and where we can make improvements to better meet your needs.   </p>
      <p class="mat-label-generic-body"> Feel free to provide any additional comments or suggestions that you think would contribute to our ongoing efforts to enhance our services.</p>

      <input type="button" class="button-element" (click)="Proceed()" value="START">
      <!-- <br/><br/><br/><br/><br/><br/><br/><br/> -->
  </div>
      <footer>
        <div class="fixed-bottom">Powered by Evoke Technologies</div>
      </footer>
  </div>

</div>



</div>
