
<div class="container-fluid" style="width:85% !important;">
  <div class="row d-flex justify-content-center pt-4">
    <div class="col-md-12 bg-light m-3 rounded-1 p-0 w-75 shadow-lg align-items-center">
      <div class="d-flex justify-content-between align-items-center px-3 py-2 rounded-top-1 heading" style="background-color: #1b154c;">
        <h3 class="fs-5 mt-1" style="color: #fff;">Update Project Details</h3>
      </div>
      <form id="form">
        <div class="row d-flex justify-content-center align-items-top">
          <div class="col-md-4">
            <div class="m-4">
              <label class="form-label fs-6">Chose a file<span style="color: red;">*</span></label>
              <input type="file" class="textinput form-control" style="width: 100% !important;" >
          </div>
          </div>
        </div>
          <div class="row justify-content-center" style="margin-top: -30px !important">
            <div class="col-md-4">
              <div class="m-4">
            <button [disabled]="" type="button" class="btn btn-info text-white px-md-4 rounded-1 send-button" style="font-family: Roboto;width: 100% !important;">Upload</button>
          </div>
        </div>
      </div>
      </form>
    </div>
  </div>
</div>
