
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$CustSurveyApp-primary: mat.define-palette(mat.$indigo-palette);
$CustSurveyApp-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$CustSurveyApp-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$CustSurveyApp-theme: mat.define-light-theme((
  color: (
    primary: $CustSurveyApp-primary,
    accent: $CustSurveyApp-accent,
    warn: $CustSurveyApp-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($CustSurveyApp-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;
  font-family:"Inter", "Helvetica Neue";
}
body {
  margin: 0;
  font-family:"Inter", "Helvetica Neue";
  //  font-family: 'Roboto', "Helvetica Neue", sans-serif;
  //  background-image: url(https://s3.amazonaws.com/spoonflower/public/design_thumbnails/0427/7276/0_0_solid_EEE0FF_pale_pastel_purple_shop_preview.jpg);
  //  background-image: url('../src/assets/feedback2.jpg');
  // background-repeat:repeat-y;
  // background-size: cover;
  background-color:#F8F8F9 !important;
   }

input{
  height: 40px !important;
}

.container {
max-width: 1440px !important;
width:100%;
}

.text-center {
  text-align: center;
  margin:0 auto;
  width:100% !important;
  max-width:1020px !important;
  padding:0px;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index:1 !important;
}
.fixed-bottom {
  position: fixed !important;
  left: 18px !important;
  bottom: 5px !important;
  right:initial !important;
  color: #87889D;
  background: #f8f9fa;
}

.thank-you-page {
padding-top:160px;
}
.thank-you-page p{
color:#575369;
font-size: 16px;
font-style: normal;
font-weight: 400;
}
.thank-you-page h4{
  color: #000;
  font-size: 20px;
}

